{% set users = salt['grains.filter_by']({
    'Debian': {
        'name': 'canonical',
        'home': r'/home/canonical',
        'uid': 4000,
        'gid': 4000,
        'groups': [
                'canonical',
                'sudoers',
        ],
        'absent': 'redhat',
        'user': 'canonical',
        'ources': [r'salt://ubuntu.pem', ],
    },
    'RedHat': {
        'name': 'redhat',
        'home': r'/home/redhat',
        'uid': 4000,
        'gid': 4000,
        'groups': [
                'redhat',
                'sudoers',
        ],
        'absent': 'canonical',
        'user': 'redhat',
        'sources': [r'salt://centos.pem', ],
}, merge=salt['pillar.get']('users:users')) %}
