{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['sudo', 'python-apt', ],
        'user': {},
        'group': {},
    },
    'RedHat': {
        'pkgs': ['sudo', 'policycoreutils', 'policycoreutils-python', ],
        'user': {},
        'group': {},
    },
}, merge=salt['pillar.get']('users:users')) %}