{% set users = salt['grains.filter_by']({
    'Debian': {
        'user_present': 'canonical',
        'user_home': r'/home/canonical',
        'user_uid': 4000,
        'user_gid': 4000,
        'groups': [
                'canonical',
                'sudoers',
        ],
        'user_absent': 'redhat',
        'ssh_user': 'canonical',
        'sshkey_sources': [r'salt://ubuntu.pem', ],
    },
    'RedHat': {
        'user_present': 'redhat',
        'user_home': r'/home/redhat',
        'user_uid': 4000,
        'user_gid': 4000,
        'groups': [
                'redhat',
                'sudoers',
        ],
        'user_absent': 'canonical',
        'ssh_user': 'redhat',
        'sshkey_sources': [r'salt://centos.pem', ],
}, merge=salt['pillar.get']('users:users')) %}
